.admin-section{
    display: flex;
    flex-direction: row;
    background-color: #14191A1F;
    

    app-admin-panel-redirect{
        background-color: white;
    }

    .admin-section_user-data{
        margin: 0 0 0 16vw;

        form {
            background-color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 2rem;
            border-radius: 10px;

            .admin-section_paragraph-inputs{
                margin: 2vh 0 0 0;
            }

            input, select{
                display: flex;
                justify-content: center;
                width: 50vw;
                border: 1px solid #14191A1F;
                border-radius: 1px;
            }

            .admin-section_paragraph-button{
                display: flex;
                justify-content: end;
                flex-direction: row;

                .admin-section_cancellation{
                    background-color: #8A8C8C !important;
                }

                .admin-section_button, .admin-section_cancellation{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: #14191A;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    height: 4vh;
                    align-items: center;
                    margin: 2vh 0 0 0.5vw;
                    padding: 0 2vw;
                }
            }
            
        }
    }
}