<app-static-header></app-static-header>
<app-active-header></app-active-header>

<!-- <h1 class="bread-crumps"><a>Главная</a><a>Пользователи</a><a>Добавление пользователя</a></h1> -->
<main class="admin-section">
    <app-admin-panel-redirect></app-admin-panel-redirect>

    <section class="admin-section_user-data">
        <h1 class="admin-section_paragraph">Добавление пользователя</h1>
        <form class="admin-section_form" action="" [formGroup]="dataUserSave">
            <h1 class="admin-section_paragraph-block">Данные пользователя</h1>
            <h1 class="admin-section_paragraph-inputs">Роль</h1>
            <select formControlName="roles">
                <option value="user">Участник</option>
                <option value="admin">Администратор</option>
                <option value="editor">редактор</option>
            </select>

            <h1 class="admin-section_paragraph-inputs">Должность</h1>
            <select formControlName="major">
                <option value="">Должность 1</option>
                <option value="">Должность 2</option>
                <option value="">Должность 3</option>
            </select> 

            <h1 class="admin-section_paragraph-inputs">Стажер</h1>
            <select formControlName="trainee">
                <option value="true">Да</option>
                <option value="false">Нет</option>
            </select>

            <h1 class="admin-section_paragraph-inputs">Номер телефона</h1>
            <input type="text" formControlName="phoneNumber" placeholder="Номер телефона" class="authorization_login">

            <h1 class="admin-section_paragraph-inputs">Электронная почта(Логин)</h1>
            <input type="text" formControlName="email" placeholder="Электронная почта" class="authorization_login">

            <h1 class="admin-section_paragraph-inputs">Имя</h1>
            <input type="text" formControlName="username" placeholder="Имя" class="authorization_login">

            <h1 class="admin-section_paragraph-inputs">Фамилия</h1>
            <input type="text" formControlName="lastname" placeholder="Фамилия" class="authorization_login">

            <h1 class="admin-section_paragraph-inputs">Отчество</h1>
            <input type="text" formControlName="patronymic" placeholder="Отчество" class="authorization_login">

            <button class="admin-section_button" (click)="saveUser()">Добавить пользователя</button>
        </form>
    </section>
</main>
