.admin-section{
    display: flex;
    flex-direction: row;
    background-color: #14191A1F;
    height: 100%;

    app-admin-panel-redirect{
        background-color: white;
    }

    .admin-section_user-data{
        

        form {
            background-color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 2rem;
            border-radius: 10px;

            .admin-section_paragraph-inputs{
                margin: 2vh 0 0 0;
            }

            input, select{
                display: flex;
                justify-content: center;
                width: 50vw;
                border: 1px solid #14191A1F;
                border-radius: 1px;
            }

            .admin-section_button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 2vh;
            }
        }
    }
}