.card {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .card_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2vh 2vw;
    }
}

app-side-filter {
    margin-top: 2vh;
}

img {
    width: 30vw;
    height: 40vh;
}