<app-static-header></app-static-header>
<app-active-header></app-active-header>
<main class="main">
    <section class="main_information">

        <section class="main_description">
            <h1 class="main_title">Знания: крепкий фундамент успеха</h1>
            <span>
                База знаний - это доступная система со всем необходимым для <br>
                профессиональной деятельности: права и обязанности, стандарты, <br>
                документация и лучшие практики
            </span>
        </section>

        <img class="ornament" src="" >

    </section>

    <section class="main_chapters">

        <h1>Недавно дополненные разделы</h1>
        <section class="main_edit-chapters">
            <!-- @if(){

            } -->
        </section>
        
        <h1>Часто посещаемые разделы</h1>
        <section class="main_viewed-chapters">
            <!-- @if(){

            } -->
        </section>
    </section>
    
</main>