.main {
    display: flex;
    flex-direction: column;

    .main_information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #F6F6F4;
        block-size: 28rem;

        .main_description {
            padding: 0rem 5rem;

            .main_title {
                line-height: 43.2px;
                font-weight: 700;
                margin-top: 0;
            }
        }
    }

    .main_chapters {
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1 {
            font-weight: 600;
            line-height: 38.4px;
            padding: 0rem 5rem;
        }
    }
}