<app-static-header></app-static-header>
<app-active-header></app-active-header>
<main class="main">
    <section class="main_information">
        <section class="main_header">
            <span>Экран приветствия</span>
        </section>
        <section class="main_description-header">

        </section>
    </section>

    <h3>Описание возможностей. Тезисно</h3>

    <section class="main_description">

    </section>

    <section class="main_sections-information">


        <section class="main_last-sections">
            <h3>Недавно дополненные разделы</h3>
            <section class="main_block-information">
                
            </section>
        </section>

        
        <section class="main_often-sections">
            <h3>Часто посещаемые разделы</h3>
            <section class="main_block-information">
                
            </section>
        </section>

    </section>
</main>