<header class="header">
    <section class="header_sides">

        <section class="header_left-side">

            <a routerLink="/main" class="header_main-page">Главная</a>

            <select name="" id="" class="header_section" [(ngModel)]="section" (change)="setSection()">
                <option value="">Профессиональная область</option>
                <option value="building">Область 1</option>    
                @for (region of regions; track $index) {
                    <option value="">Область 1</option>
                }
            </select>

        </section>

        <section class="header_right-side">

            <input type="text" class="header_search" placeholder="Поиск" (change)="setSection()">
            <section class="header_notification">
                <button class="header_notification-button">
                    <img src={{userImg}} class="header_img-notification">
                </button>
            </section>

            <section class="header_profile">
                <button (click)="leaveAccount()">
                    <span>{{userName}}</span>
                </button>    
            </section>

        </section>
    </section>
</header>