<header>
    <section class="header_left-side">
        <img src="" alt="" class="header_logo-img">
        <h1 class="header_logo-text"></h1>
    </section>

    <section class="header_center-side">
        <a href="" class="header_main-page">Главная</a>
        <select name="" id="">
            @for (region of regions; track $index) {
                <option value="">Область 1</option>
            }
        </select>
    </section>

    <section class="header_right-side">
        <input type="text" class="header_search">
        <section class="header_notification">
            <button>
                <img src=" " alt="">
            </button>
        </section>

        <section class="header_profile"></section>
        <a href="">
            <img src=" " alt="">
        </a>

    </section>
</header>