.editor_title {
    margin: 0rem 21rem;
}

.editor {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .editor_top {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        .editor_img-logo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 0.3rem dashed gray;
            border-radius: 4px;
            block-size: 6rem;

            .editor_img {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                color: gray;
                outline: none;
            }
        }
    }

    .editor_section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0rem 3rem 0rem;

        .editor_field {
            height: 42vh;
            width: 64.5vw;
        }
    }

    .editor_buttons {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .editor_publish, .editor_cancellation, .editor_draft {
            margin: 0rem 2rem;
            background-color: #14191A;
            color: white;
            border: none;
            border-radius: 4px;
            height: 4vh;
            padding: 0 1vw;
        }
    }
}