<app-static-header></app-static-header>
<app-active-header></app-active-header>
<main class="editor">
    
    <h1 class="editor_title">Новая статья</h1>
    
    <section class="editor_top">
        
        <section class="">
            <h1>Заголовок</h1>
            <input type="text">

            <h1>Описание</h1>
            <textarea type="text"></textarea>
        </section>
        
        <section class="editor_img-logo">
            <input type="file">
        </section>
    
    </section>

    <section class="editor_section">
        <section class="editor_manipulation-text">

        </section>
        <app-text-editor class="editor_field"></app-text-editor>
    </section>

    <section class="editor_buttons">

        <section class="editor_left-buttons">
            <button class="editor_draft" (click)="saveDraft()">Черновик</button>
        </section>

        <section class="editor_right-buttons">
            <button class="editor_publish" (click)="saveCourse()">Опубликовать</button>
            <button class="editor_cancellation" (click)="goBack()">Отмена</button>
        </section>

    </section>

</main>