.main_editor-section, .main_add-section, .main_cancellation {
    color: white;
    border: none;
    border-radius: 4px;
    height: 4vh;
    padding: 0 1vw;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    app-side-filter {
        margin-top: 2vh;
    }

    .main_buttons {
        display: flex;
        justify-content: end;
        flex-direction: row;
        margin-top: 2vh;

        .main_editor-section {
            background-color: #14191A;
            margin: 0vh 2vw;
        }

        .main_add-section {
            background-color: #14191A;
            margin-right: 2vw;
        }

        .main_cancellation {
            background-color: #757575;
            margin: 0vh 2vw;
        }
    }
}