.card_course {
    margin: 2vh 0 2vh 0;
}
.card_information {
    display: flex;
    flex-direction: row;
    align-items: center;

    .card_main-information {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

img {
    width: 40%;
    border-radius: 2px;
    border: 1px solid #E2E3E3;
}

h3 {
    margin: 0% 0% 0% 0%;    
}