<main class="card">
    @if(courses$ | async; as courses){
        @for(course of courses; track course){
            <a [routerLink]="['/course', course.id]">
                <section class="card_course">
                    
                    <section class="card_information">

                        <section class="card_main-information">
                            <h3 class="card_name">{{course.paragraph}}</h3>
                            <button class="card_favourites">Добавить в избранное</button>
                        </section>

                        @if(editorStatus === true){
                            <section class="card_manipulation">
                                <button class="card_edit">Изменить</button>
                                <button clasng s s="card_remove">Удалить</button>
                            </section>
                        }
                        
                    </section>

                    <img src={{course.avatar}}>

                </section>
            </a>
        }
    }
</main>